.certificates {
	padding: rem(50) rem(20);
	@media (max-width: $tablet) {
		padding: rem(40) rem(10);
	}
	@media (max-width: $mobile) {
		padding: rem(25) rem(10);
	}
	&__wrapper {
		padding: rem(70) rem(0) rem(80);
		background: #f9f9f9;
		border-radius: rem(40);
		overflow: hidden;
		margin: 0 auto;
		max-width: rem(1920);
		@media (max-width: $tablet) {
			padding: rem(50) rem(0);
			border-radius: rem(20);
		}
		@media (max-width: $mobile) {
			padding: rem(40) rem(0);
		}
		@media (max-width: $mobileSmall) {
			padding: rem(25) rem(0);
		}
	}
	&__container {
	}
	&__title {
	}
	&__slider {
		overflow: visible;
		&:not(:last-child) {
			margin-bottom: rem(64);
			@media (max-width: $tablet) {
				margin-bottom: rem(48);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(32);
			}
		}
	}
	&__slider-nav {
		justify-content: flex-end;
	}
	&__slider-btn {
		&_prev {
		}
		&_next {
		}
	}
}

.certificate {
	flex: 0 0 rem(299);
	display: flex;
	flex-direction: column;
	align-items: center;
	&:not(:last-child) {
		margin-right: rem(20);
		@media (max-width: $tablet) {
			margin-right: rem(15);
		}
	}
	&__image {
		background: #fff;
		border-radius: rem(26);
		padding: rem(18);
		@media (max-width: $tablet) {
			padding: rem(15);
			border-radius: rem(20);
		}
		@media (max-width: $mobile) {
			padding: rem(15);
		}
		img {
			width: 100%;
			height: auto;
			border-radius: rem(14);
		}
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
	}
	&__bottom {
		text-align: center;
		line-height: 1.3;
		letter-spacing: -0.01em;
		max-width: percent(235, 299);
	}
	&__label {
		font-weight: 500;
		font-size: rem(18);
		&:not(:last-child) {
			margin-bottom: rem(6);
		}
	}
	&__descr {
		font-size: rem(15);
		color: #777889;
	}
}
