.smi {
	padding: rem(40) rem(0) rem(80);

	@media (max-width: $tablet) {
		padding: rem(30) rem(0) rem(40);
	}
	@media (max-width: $mobile) {
		padding: rem(20) rem(0) rem(25);
	}
	&__container {
	}
	&__title {
	}
	&__cols {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: rem(20);
		@media (max-width: $pc) {
			gap: rem(15);
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
}

.smi-col {
	border: rem(1) solid #efefef;
	border-radius: rem(26);
	padding: rem(24);
	letter-spacing: -0.01em;
	position: relative;
	overflow: hidden;
	@media (max-width: $pc) {
		padding: rem(19);
	}
	&__image {
		border-radius: rem(20);
		position: relative;
		aspect-ratio: 370/234;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
	&__label {
		font-weight: 500;
		line-height: 1.3;
		@media (max-width: $mobile) {
			font-size: rem(18);
		}
		a {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				border-radius: rem(26);
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__descr {
		font-size: rem(17);
		color: #777889;
	}
}
