// Базовые стили хлебных крошек
// Сниппет (HTML): breadcrumbs

.breadcrumbs {
	font-size: rem(13);
	letter-spacing: -0.01em;
	ul {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(5);
		li {
			&:not(:last-child) {
				display: inline-flex;
				align-items: center;
				gap: rem(5);
				color: #777889;
				&::after {
					content: "/";
				}
			}
			a {
				transition: color 0.3s;
				@media (any-hover: hover) {
					&:hover {
						color: $mainColor;
					}
				}
			}
		}
	}
	&_w {
		ul {
			li {
				&:not(:last-child) {
					color: #b7b8ca;
				}
				a {
					color: #b7b8ca;
					@media (any-hover: hover) {
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}
	&:not(:last-child) {
		margin-bottom: rem(50);
		@media (max-width: $tablet) {
			margin-bottom: rem(40);
		}
		@media (max-width: $mobile) {
			margin-bottom: rem(30);
		}
	}
}
