.partners {
	padding: rem(45) rem(0) rem(115);
	@media (max-width: $tablet) {
		padding: rem(40) rem(0) rem(80);
		overflow: hidden;
	}
	@media (max-width: $mobile) {
		padding: rem(25) rem(0) rem(50);
	}
	&__container {
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(20);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	&__subtitle {
		&:not(:last-child) {
			margin-bottom: rem(45);
			@media (max-width: $tablet) {
				margin-bottom: rem(35);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(25);
			}
		}
	}
	&__slider {
		@media (max-width: $tablet) {
			overflow: visible;
		}
		&:not(:last-child) {
			margin-bottom: rem(70);
			@media (max-width: $tablet) {
				margin-bottom: rem(50);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(40);
			}
		}
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		border-radius: rem(26);
		@media (min-width: $tablet) {
			border: rem(1) solid #efefef;
		}
		@media (max-width: $pc) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media (max-width: $tablet) {
			display: flex;
		}
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(20);
		@media (min-width: $tablet) {
			aspect-ratio: 260/170;
		}
		&:not(:nth-child(5n)) {
			@media (min-width: $pc) {
				border-right: rem(1) solid #efefef;
			}
		}
		&:not(:nth-last-child(-n + 5)) {
			@media (min-width: $pc) {
				border-bottom: rem(1) solid #efefef;
			}
		}
		&:not(:nth-child(4n)) {
			@media (min-width: $tablet) and (max-width: $pc) {
				border-right: rem(1) solid #efefef;
			}
		}
		&:not(:nth-last-child(-n + 4)) {
			@media (min-width: $tablet) and (max-width: $pc) {
				border-bottom: rem(1) solid #efefef;
			}
		}
		@media (max-width: $tablet) {
			border: rem(1) solid #efefef;
			border-radius: rem(10);
			padding: rem(15);
		}
		&:not(:last-child) {
			@media (max-width: $tablet) {
				margin-right: rem(15);
			}
		}
	}
	&__image {
		border-radius: rem(26);
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
		&:not(:last-child) {
			margin-bottom: rem(40);
			@media (max-width: $tablet) {
				margin-bottom: rem(30);
			}
		}
	}
	&__content {
		letter-spacing: -0.01em;
	}
	&__cap {
		font-weight: 500;
		font-size: rem(24);
		line-height: 1.1;
		@media (max-width: $tablet) {
			font-size: rem(22);
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__text {
		font-size: rem(18);
		line-height: 1.4;
		@media (max-width: $mobile) {
			font-size: rem(17);
		}
		p {
			&:not(:last-child) {
				margin-bottom: rem(15);
			}
		}
		ul {
			li {
				position: relative;
				padding-left: rem(17);
				&::before {
					content: "";
					position: absolute;
					top: rem(11);
					left: 0;
					width: rem(3);
					height: rem(3);
					border-radius: 50%;
					background: #ffda55;
					@media (max-width: $mobile) {
						top: rem(10);
					}
				}
				&:not(:last-child) {
					margin-bottom: rem(5);
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(40);
			@media (max-width: $tablet) {
				margin-bottom: rem(30);
			}
		}
	}
}
