.header {
	padding: rem(13) rem(0);
	@media (max-width: $mobile) {
		padding: rem(10) rem(0);
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(30);
		@media (max-width: $tablet) {
			gap: rem(20);
		}
	}
	&__logo-wrapper {
		display: flex;
		align-items: center;
		gap: rem(12);
		@media (max-width: $tablet) {
			position: relative;
			z-index: 4;
		}
	}
	&__logo {
		flex: 0 0 rem(52);
		width: rem(52);
		@media (max-width: $mobileSmall) {
			flex: 0 0 rem(46);
			width: rem(46);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__descr {
		font-size: rem(13);
		line-height: 1.3;
		letter-spacing: -0.01em;
		color: #777889;
		@media (min-width: $mobileSmall) {
			flex: 0 0 rem(118);
		}
		@media (max-width: $mobileSmall) {
			font-size: rem(12);
		}
	}
	&__right {
		display: flex;
		align-items: center;
		gap: rem(28);
		@media (max-width: $mobile) {
			gap: rem(20);
		}
	}
	&__contacts {
		display: flex;
		align-items: center;
		gap: rem(25);
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__phone-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(4);
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__phone {
		font-weight: 600;
		font-size: rem(17);
		line-height: 1.05;
		letter-spacing: -0.01em;
		white-space: nowrap;
	}
	&__phone-descr {
		font-size: rem(13);
		line-height: 1.3;
		letter-spacing: -0.01em;
		color: #6e6f81;
		display: inline-flex;
		align-items: center;
		gap: rem(5);
		&::before {
			content: "";
			flex: 0 0 rem(4);
			width: rem(4);
			height: rem(4);
			border-radius: 50%;
			background: #9dcd24;
		}
	}
	&__callback {
		min-height: rem(50);
		white-space: nowrap;
	}
}

.menu {
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			top: 0;
			right: -100%;
			width: 100%;
			height: 100%;
			transition: right 0.4s;
			background-color: #fff;
			padding: rem(100) rem(0) rem(40);
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(30);
			z-index: 3;
		}
		.menu-open & {
			@media (max-width: $tablet) {
				right: 0;
			}
		}
	}
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(7) rem(34);
		@media (max-width: $pc) {
			gap: rem(7) rem(25);
		}
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: rem(20);
		}
	}
	&__item {
	}
	&__link {
		font-size: rem(15);
		line-height: 1.2;
		letter-spacing: -0.01em;
		@media (max-width: $tablet) {
			font-size: rem(20);
		}
	}
	&__phone {
		font-weight: 600;
		line-height: 1.05;
		letter-spacing: -0.01em;
		@media (min-width: $mobile) {
			display: none;
		}
	}
}

.header-socials {
	align-items: center;
	gap: rem(6);
	&_pc {
		@media (min-width: $mobile) {
			display: flex;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&_mob {
		@media (min-width: $mobile) {
			display: none;
		}
		@media (max-width: $mobile) {
			display: flex;
		}
	}
	&__item {
	}
	&__link {
		border-radius: rem(100);
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(5);
		min-height: rem(30);
		min-width: rem(38);
		&_tg {
			background: #339dff;
		}
		&_max {
			background: linear-gradient(225deg, #983ddc 0%, #56c9fe 100%);
		}
	}
}

//====================================================================================================

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
