.services-hero {
	color: #fff;
	letter-spacing: -0.01em;
	padding: rem(0) rem(20) rem(15);
	@media (max-width: $tablet) {
		padding: rem(0) rem(10) rem(15);
	}
	&__wrapper {
		position: relative;
		border-radius: rem(30);
		overflow: hidden;
		max-width: rem(1500);
		margin: 0 auto;
		padding: rem(40) rem(0);
		@media (min-width: $tablet) {
			min-height: rem(320);
		}
		@media (max-width: $tablet) {
			border-radius: rem(20);
			padding: rem(30) rem(0);
		}
		@media (max-width: $mobile) {
			padding: rem(20) rem(0);
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#000, 0.4);
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__container {
		position: relative;
		z-index: 2;
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(30);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(20);
			}
		}
	}
	&__subtitle {
		font-size: rem(19);
		line-height: 1.35;
		@media (max-width: $tablet) {
			font-size: rem(18);
		}
		@media (max-width: $mobile) {
			font-size: rem(17);
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__text {
		font-size: rem(17);
		line-height: 1.35;
		max-width: rem(660);
		@media (max-width: $mobile) {
			font-size: rem(16);
		}
	}
}

.services {
	padding: rem(15) rem(0) rem(60);
	@media (max-width: $tablet) {
		padding: rem(15) rem(0) rem(40);
	}
	@media (max-width: $mobile) {
		padding: rem(15) rem(0) rem(25);
	}
	&__container {
	}
	&__cols {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: rem(50);
		@media (max-width: $tablet) {
			grid-template-columns: 1fr 1fr;
			gap: rem(30) rem(50);
		}
		@media (max-width: $mobile) {
			grid-template-columns: 1fr;
		}
	}
}

.service {
	display: flex;
	align-items: flex-start;
	gap: rem(25);
	letter-spacing: -0.01em;
	&__image {
		flex: 0 0 rem(90);
		width: rem(90);
		aspect-ratio: 1;
		border-radius: rem(20);
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		flex: auto;
	}
	&__label {
		font-weight: 500;
		font-size: rem(20);
		line-height: 1.1;
		@media (max-width: $tablet) {
			font-size: rem(19);
		}
		a {
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #ffda55;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item {
		font-size: rem(17);
		line-height: 1.3;
		display: inline-flex;
		align-items: center;
		gap: rem(14);
		&::before {
			content: "";
			flex: 0 0 rem(3);
			width: rem(3);
			height: rem(3);
			border-radius: 50%;
			background: #ffda55;
		}
		a {
			transition: color 0.3s;
			@media (any-hover: hover) {
				&:hover {
					color: #ffda55;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
	}
}
