.stocks {
	padding: rem(40) rem(0) rem(45);
	@media (max-width: $tablet) {
		padding: rem(30) rem(0) rem(40);
	}
	@media (max-width: $mobile) {
		padding: rem(20) rem(0) rem(25);
	}
	&__container {
	}
	&__title {
	}
	&__text {
		font-size: rem(19);
		line-height: 1.2;
		letter-spacing: -0.01em;
		@media (max-width: $tablet) {
			font-size: rem(18);
		}
		&:not(:last-child) {
			margin-bottom: rem(40);
			@media (max-width: $tablet) {
				margin-bottom: rem(30);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(25);
			}
		}
	}
	&__list {
	}
}

.stock-item {
	background: #f9f9f9;
	border-radius: rem(26);
	padding: rem(25);
	display: flex;
	gap: rem(50);
	letter-spacing: -0.01em;
	@media (max-width: $tablet) {
		flex-direction: column;
		align-items: flex-start;
		gap: rem(20);
		padding: rem(20);
	}
	@media (max-width: $mobile) {
		padding: rem(15);
	}
	&:not(:last-child) {
		margin-bottom: rem(20);
	}
	&__image {
		border-radius: rem(20);
		overflow: hidden;
		position: relative;
		@media (min-width: $tablet) {
			flex: 0 0 rem(380);
			aspect-ratio: 380/240;
		}
		@media (max-width: $tablet) {
			max-width: rem(400);
		}
		img {
			width: 100%;
			height: auto;
			@media (min-width: $tablet) {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		@media (min-width: $pc) {
			padding: rem(20) rem(0) rem(15);
		}
	}
	&__title {
		font-weight: 500;
		font-size: rem(24);
		line-height: 1.1;
		@media (max-width: $tablet) {
			font-size: rem(22);
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	&__text {
		font-size: rem(17);
		line-height: 1.4;
		flex: auto;
		@media (max-width: $mobileSmall) {
			font-size: rem(16);
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	&__date {
		font-size: rem(15);
		color: #777889;
	}
}

.stock {
	padding: rem(40) rem(0) rem(45);
	border-bottom: rem(1) solid #efefef;
	@media (max-width: $tablet) {
		padding: rem(30) rem(0) rem(40);
	}
	@media (max-width: $mobile) {
		padding: rem(20) rem(0) rem(25);
	}
	&__container {
	}
	&__title {
	}
	&__text {
		font-size: rem(18);
		letter-spacing: -0.01em;
		line-height: 1.45;
		@media (max-width: $tablet) {
			font-size: rem(17);
		}
		span {
			font-weight: 600;
		}
		ul {
			li {
				display: flex;
				align-items: center;
				gap: rem(14);
				&::before {
					content: "";
					flex: 0 0 rem(3);
					width: rem(3);
					height: rem(3);
					border-radius: 50%;
					background: #ffda55;
				}
				&:not(:last-child) {
					margin-bottom: rem(8);
				}
			}
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		p {
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		&_top {
			line-height: 1.2;
			font-size: rem(19);
			@media (max-width: $tablet) {
				font-size: rem(18);
			}
			@media (max-width: $mobile) {
				font-size: rem(17);
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__image {
		border-radius: rem(20);
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: $tablet) {
				margin-bottom: rem(20);
			}
		}
	}
	&__descr {
		font-size: rem(18);
		line-height: 1.4;
		letter-spacing: -0.01em;
		color: #777889;
		@media (max-width: $tablet) {
			font-size: rem(17);
		}
	}
}
